<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="{% static 'main.js' %}" defer></script>
</head>
<body>

    <table>
        {% for i in items %}
            <tr>
                <td>{{ i.tovar.opis }}</td>
                <td><a href="{% url 'minus' i.id %}"><button>-</button></a></td>
                <td>{{ i.count }} шт.</td>
                <td><a href="{% url 'plus' i.id %}"><button>+</button></a></td>
                <td>{{ i.summa }} руб.</td>
                <td><a href="{% url 'del' i.id %}"><button>Удалить</button></a></td>
            </tr>
        {% endfor %}
    </table>

    <h2>Сумма: {{ summa }}</h2>

    <a href="{% url 'home' %}">
        <button>В магазин</button></a>

    <button id="fin">Оформить</button>

    <div id="forma" hidden>
        <form action="">
            <label for="address">Адрес</label>
            <input type="text" id="address">
            <label for="name">Имя</label>
            <input type="text" id="name">
            <label for="phone">Телефон</label>
            <input type="text" id="phone">
            <input type="button" value="Подтвердить через Fetch" id="fin2">
            <input type="button" value="Подтвердить через AJAX" id="fin3">
        </form>
    </div>

<script>
    // передаём токен в js
    const csrf_token = "{{ csrf_token }}";
</script>


</body>
</html>