<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <script src="{% static 'main.js' %}" defer></script>
</head>
<body>

    <table>
        {% for i in items %}
            <tr>
                <td>{{ i.tovar.opis }}</td>
                <td><a href="{% url 'minus' i.id %}"><button>-</button></a></td>
                <td>{{ i.count }} шт.</td>
                <td><a href="{% url 'plus' i.id %}"><button>+</button></a></td>
                <td>{{ i.summa }} руб.</td>
                <td><a href="{% url 'del' i.id %}"><button>Удалить</button></a></td>
            </tr>
        {% endfor %}
    </table>

    <h2>Сумма: {{ summa }}</h2>

    <button id="fin">Оформить</button>

    <a href="{% url 'home' %}">
        <button>В магазин</button>
    </a>

</body>
</html>